* { padding: 0; margin: 0; }

body {
/*  font-family: Arial, Helvetica, sans-serif;
 font-size: 0.8125em; /* 16x0.8125=13px */ */
 line-height: 1.1875em;/* 16x1.2=19px */
 font: 75%/1.6em Verdana, Tahoma, Arial, Geneva, sans-serif; 
 margin:0; /* 18x1=18px */ 
 background:#E4DD97;
}

h1 {
 font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
 font-size: 1.375em; /* 16x1.375=22px */
 line-height: 1.636em;/* 16x1.636=36px */
 background: #607A00; 
 color: #FFF;
 padding: 5px 0 5px 10px;
 margin: 0;
}

h1 a, h1 a:hover, h1 a:visited, h1 a:active {
 color: #FFF;
 text-decoration:none;
}

h2,h3 {
 font-size: 1.3em; 
 margin:0;
 font-family: "Trebuchet MS", Arial, Helvetica, sans-serif; 
 color: #607A00;
}

a, ul a, a:active, a:visited {
 color: #607A00;
 text-decoration:none;
}

a:hover {
 color: #607A00;
 text-decoration:underline;
}

#wrapper { 
 margin: 15px auto;
 padding:10px;
 width: 950px;
 background: #FFF;
}
#header {
 color: #333;
 width: 930px;
 padding: 10px;
 height: 150px;
 margin: 0px;
 background: #31444F url(images/header.jpg);
 border-top:2px solid #E4DD97;
 border-bottom:2px solid #E4DD97; 
}

#navigation {
 float: left;
 width: 950px;
 color: #333;
 padding: 5px 0 5px 0;
 margin: 0;
 background: #607A00;
}

#navigation li {
 display:inline;
 border:0px solid #FFF;
 color:#FFF;
 font-family: "Trebuchet MS", Arial, Helvetica, sans-serif; 
 font-size: 1.2em; /* 16x0.8125=13px */
 line-height: 1.5em;/* 16x1.2=19px */ 
 font-weight:bold;
}

#navigation a {
 margin:0;
 color:#FFF;
 text-decoration:none;
 padding: 4px 15px 4px 15px; 
}

#navigation a:hover {
 margin:0;
 background: #738F11;
 padding: 4px 15px 4px 
/* text-decoration:underline;  */
}

#one { 
 color: #333;
 width: 930px;
 padding: 10px;
 margin: 0px;
 float: left;
 background: #FFF;
}

#one .item {
 padding: 10px;
 margin: 0 0 10px 0;
 background: #FFF;
 border:1px solid #E4DD97;
}

#two { 
 color: #31444F;
 width: 930px;
 padding: 10px;
 margin: 0px;
 float: left;
}

#two .item, #two_one .item, #two_two .item {
 padding: 10px;
 background: #FFFCDF;
 border:1px solid #E4DD97;
 margin: 0 0 10px 0;
}

#two_one { 
 color: #333;
 background: #FFF;
 margin: 0px 0 0px 0px;
 padding: 0px 0 10px 0;
 width: 162px;
 float: left;
}

#two_two { 
 color: #333;
 background: #FFF;
 margin: 0px 0px 0px 0px;
 padding: 0px 0 10px 10px;
 width: 162px;
 float: left;
}

h2, h3 {
 display:block;
 margin: 0 0 15px 0;
 padding:0;
}

p {
 margin:0;
 padding: 0 0 10px 0;
 color: #31444F; 
}

.item ul {
 margin:0;
 padding: 0 0 0 0;
 color: #31444F; 
 display:block;
}

.item li {
 margin:0 0 0 20px;
 padding:0;
 color: #31444F; 
}

.item ol {
 margin: 0 0 10px 5px;
 color: #31444F; 
}

.item img {
 float:left;
 margin: 3px 10px 10px 0;
 padding:3px;
 background:#FFF;
 border:1px solid #E4DD97;
 display:block;
}

#footer { 
 clear: both;
 background: #607A00;
 width: 950px;
 color: #333;
 padding: 5px 0 5px 0;
 margin: 0; 
}

#footer a {
 margin:0;
 color:#FFF;
 text-decoration:none;
 padding: 5px 15px 5px 15px; 
}

#footer  li {
 display:inline;
 border:0px solid #FFF;
 color:#FFF;
}


.itemfooter {
 padding:0;
 margin:0 0 0 0;
 font-size:0.75em;
 clear: both;
}

#one .item p a , p a, .item .itemfooter a {
 text-decoration:underline;
}

#borderTable
{
border-collapse:collapse;
}

#borderTable td, #borderTable th 
{
border:1px solid #9AC31F;
padding:3px 7px 2px 7px;
}

#borderTable th 
{
background-color:#EAF2D3;
color:#000;
}

#borderTable tr.alt td 
{
color:#000;
background-color:#EAF2D3;
}
.ui-icon-edit { background-image: url(images/edit.gif); }